.fontSpan{
    font-size: 0.7em;
    font-weight: bold;
}

.fontSpanRes{
    font-size: 0.7em;
    color: green;
    font-weight: bold;
}

.disease_img{
    border-radius: 5px;
    height: 100px;
    width: 100%;
}

.advise_row{
    border: 1px solid #0faa66;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}