.expandable_card{
    margin: 0px 0px 4px;
    box-shadow: 0 0 4px #0000002b;
}

.expandable_row{
    border-bottom: 1px solid #dedede;
    padding: 10px;
}

.ic_expand ion-icon{
    font-size: 20px;
    color: #bfbfbf;
    margin-top: 3px;
}

.span_serialNo{
    padding: 5px 10px;
    background: #d4f6d4;
    border-radius: 50%;
}

.card_heading{
    font-size: 13px;
    span, ion-datetime, ion-textarea, ion-select{
        color: #00ab50;
        font-weight: 500;
    }
}

.inp_value_assign_as{
    background: #f4f3f3;
    --padding-start: 4px;
}

.login_btn {
    border-radius: 50px;
    width: 180px;
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 5px;
    display: block;
    box-shadow: none;
    border: 1px solid #0baf58;
    color: #ffffff;
    background: -webkit-linear-gradient(
0deg, #0baf58 0%, #66eea6 100%);      
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 20px;
  }

.header_row{
      background-color: #b3f0cf;;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #ffffff}

  .login_btn {
    border-radius: 50px;
    width: auto;
    height: auto;
    font-size: 12px;
    text-transform: uppercase;
    padding: 7px 0px;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
    box-shadow: none;
    border: 1px solid #0baf58;
    color: #ffffff;
    background: -webkit-linear-gradient(
0deg, #0baf58 0%, #66eea6 100%);   
  }

  .product_list ion-label{ 
    margin: 0px;
    font-size: 14px;
  }

  .div_product_list{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 20px;
    min-height: 200px;
    height: 200px;
    overflow: auto;
  }

  .btn_submit .login_btn{
      width: 80% !important;
      font-size: 14pxs;
  }

  .row_product{
      width: 100%;
  }

  .select_hectare_heading{
    display: block;
    padding: 4px 8px;
    margin-top: 11px;
    border-radius: 0 20px 0 0;
  }

  .upload_img_heading{
    margin-right: 7px;
    background: none;
  }
  .ic_upload {color: #0bae57;}

  .filter_item{
    border: 1px solid #ccc;
    padding: 0px;
    height: 37px;
    border-top: 0;
    --background: #f4f3f3;
  }

  .filter_item ion-select{
    width: 100%;
    display: block;
  }

  .ic_trash{
    background: #e04343;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
    border: solid 1px #c52323;

  }

  .div_allocate{
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

  .btn_viewLit{
    border-radius: 5px;
    width: 80%;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    box-shadow: none;
    border: 1px solid #0baf58;
    white-space: normal;
    margin: 5px auto;
  }