.upload_img_div{
    margin-top: 14px;
    background: #fff;
    border: 1px solid #d6eedd;
    border-radius: 10px;
    padding: 10px;
    background: #f1faf4;
}

.upload_img_div .ic_camera{
    font-size: 60px;
    color: #e5f4e9;
}

.ic_notify{
    font-size: 25px;
    color: #37a47f;
    padding-top: 15px;
}

.slider_img{
    height: 100% !important;
    border-radius: 50% !important;
  }
  
  .slider_text{
    font-size: 8px;
    // margin-left: 0 !important;
  }

.content_col{
    padding-top: 0;
  }

  .row_notifications{
    border: 1px solid #0faa66;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .fontSpan{
    font-size: 0.6em;
    font-weight: 700;
    color: #37a47f;
  }
  .fontSpanGray{
    font-size: 0.6em;
    color: #888888;
    font-weight: 700;
  }