.bg_content{
    --background: #f9fffc;
}

.lb_cropDetail{
    color: #0faa66;
    font-weight: bold;
    margin: 10px;
    display: block;
}

.item_label{
    font-size: 14px;
    font-weight: bold;
}

.upload_img_div{
    margin-top: 14px;
    background: #fff;
    border: 1px solid #d6eedd;
    border-radius: 10px;
    padding: 10px;
    background: #f1faf4;
}

.upload_img_div .ic_camera{
    font-size: 60px;
    color: #e5f4e9;
}

.ic_trash{
    font-size: 25px;
    color: #fa9998;
    padding-top: 15px;
}

.select_list{
    background: transparent;
}

.select_list ion-item{
    --background: transparent;
}

.add_photo{
    background: #58ca98;
    padding: 5px 5px 1px;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

.add_photo ion-icon{
    font-size: 20px;
}

.image_name{
    font-size: 12px;
    padding-left: 10px;
    vertical-align: middle;
    padding-top: 18px;
}

.txt_upload_success{
    margin: 0;
    margin-top: 5px;
    color: green;
}

.login_btn {
    font-family: 'Noto Sans', sans-serif;
    border-radius: 50px;
    width: 80%;
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    background: linear-gradient(to right, #00ab50 0%, #58ca98 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ab50', endColorstr='#64c310', GradientType=1);
    box-shadow: none;
    border: 1px solid #53bf1c;
    color: #ffffff;
  }
